[init]
	defaultBranch = main
[user]
	name = Fraser
	email = hi@fraser.yt
[core]
	editor = nano
	pager = less -FRX
[pager]
	branch = false
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
